.skills-wrapper {
    background-color: #e7e6e6;
    align-items: center;
    text-align: center;
    overflow: hidden;

    // padding: 4rem;
    // margin: auto 3%;

    .title {
        h1 {
            margin-top: 6rem;
            color: black;
            text-transform: uppercase;
        }
    }

    .ant-card {
        padding: 20px;
        // background-color: inherit;
        margin-top: 1rem;
    }
    .js-box {
        // padding: 2rem;
        margin: auto 5%;
        width: 90%;
        padding: 1rem;
        align-content: center;
        justify-content: center;
        align-items: center;
        // background-color: #202020;
        overflow: hidden;
    }
    .contents {
        .ds-box {
            // margin: auto 8%;
            width: 90%;
            margin: auto 2%;
            // padding: 7rem 13rem;

            padding: 2rem;
            // border: 2px solid black;
            .col {
                min-height: 550px;
                margin-bottom: 1rem;
                ul {
                    // background-color: rebeccapurple;
                    li {
                        line-height: 30px;
                    }
                }
            }
        }
    }
}
